<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th>
    <title>Index Page</title>
    <th:block th:include="fragments/header :: head"></th:block>


</head>
<body>
<div th:replace="fragments/header :: header"> </div>

<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Registration success! You can sign in to continue.</strong>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>